html{
    font-size: 16px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Bungee Spice', sans-serif;
    font-family: 'Gasoek One', sans-serif;
    font-family: 'Nabla', system-ui;
    font-family: 'Rubik Doodle Shadow', system-ui;
    font-family: 'Russo One', sans-serif;
    font-size: 1.5rem;
    background-color:darkturquoise;
    gap: 2rem;
    size: 3rem;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 4.5rem;
    padding-top: 0%;
    flex-direction: row;
    justify-content: center;
}



.Logo{
    height: 70px;
}

.button-img{
    border-radius: 50%;
    background-color: darkturquoise;
    border-color: white;
    border: none;
    cursor: pointer;
}

.button-img:hover {
    background-color:lightblue;
}
 
.button-ball{
    max-width: 40px;
}

.button-shirt{
    max-width: 40px;
}

.button-trophy{
    max-width: 26px;
}

footer{
    padding: 1rem;
    display: grid;
    background-color: orange;
    z-index: 0;
    justify-content: center;
}

h6{
    font-size: 1.5rem;
    font-family: 'Black Ops One', system-ui;
    justify-self: center;
}

.social-media{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.fbutton-img{
    border-radius: 50%;
    background-color:orange;
    border-color: white;
    border: none;
    cursor: pointer;
}

.button-face{
    max-width: 55px;
}

.button-you{
    max-width: 100px;
}

.button-Gm{
    max-width: 60px;
}


@media screen and (max-width: 1000px){
    
    nav{
        gap: 0;
    }

    h1{
        font-size: 1.5rem;
    }

@media screen and (max-width: 700px){
    
    nav{
        gap: 0;
    }

    h1{
        display: none;
    }